<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Option" value="0"/>
    <add key="Caller" value="+13069928675"/>
    <add key="Faker" value="+886968629556"/>
    <add key="Folder" value="C:\Users\Administrator\Desktop"/>
    <add key="Wait" value=""/>
    <add key="Success" value=""/>
    <add key="Error" value=""/>
    <add key="login_email" value="wayne52527@gmail.com"/>
    <add key="login_pass" value="mac366230"/>
  </appSettings>
</configuration>
